.container-fluid h2{
    text-align: center;
    margin-top: 180px;
    margin-bottom:70px ;
}
.products-list {
    display:flex;
    justify-content:center ;
    gap:130px;
    list-style: none;
}
.products-list a{
    text-decoration: none;
    color:#B1B5C8;
    font-size:20px ;
    padding:8px;
}
.products-list a:hover{
    background-color: red;
    transform:scale(1.1);
    color:white;
    border-radius: 5px;
} 
.product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap:100px;
    margin-top: 80px ;
    margin-left: 120px;
}    
.card{
    height:490px;
}
.product .card img{
    background-color: #1f1f1f;
    height:220px;
    padding: 15px;
    display:block;
}
.product .card:hover img{
    transform: scale(1.02);
}
.card-body{
    background-color:#101110  ! important; 
    padding:15px;
    
}
.card-body .ratings i{
    color:red;
    display:inline-block;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 10px;
} 
.card-title{
    color:#B1B5C8;
}
.card-body .info{
    color:#606060;
    font-size: 15px;
}
.line{
    color:#B1B5C8;
}
.btn{
    width:100%;
    background-color: red;
    color:white;
    margin-top: -5px;
}
.btn:hover{
    opacity:0.6;
    background-color: red;
    color:white;
}
.price{
    margin-top:0px;
}
.price .discount{
    font-size:25px;
}
.price .actual{
    font-size: 20px;
}
.browse-card {
    border:1px solid #B1B5C8;
    background-color:#101110  !important;
    height:490px;
    
}
.browse{
    text-align: center;
    font-size: x-large;
    color:#B1B5C8;
    margin-top: 200px;
}




