#carouselExampleAutoplaying .row{
    margin-top: 100px;
} 
#carouselExampleAutoplaying .carousel-inner{
    height:500px;
    margin-top:100px;
}

#carouselExampleAutoplaying .background {
    font-size: 180px;
    font-weight: 700;
    color: #1f1f1f; 
    z-index: 1;
    margin-left: 75px;
    top:-90px;
    position:relative;
    
}
#carouselExampleAutoplaying .description{
    z-index: 2;
    position:absolute;
    top:70px;
    left:160px;
    display:flex;
    gap:200px;
}
#carouselExampleAutoplaying .desc p{
    font-size:28px ;
}
#carouselExampleAutoplaying .desc pre{
    font-size: 40px;
    font-weight: bold;
    margin-top:-5px;
    
}
#carouselExampleAutoplaying .price{
    color:#B1B5C8;
    display:flex;
    gap:20px;
    align-items: center;
    font-weight: bold;
    
    margin-bottom: 8px;
    
}
#carouselExampleAutoplaying .price .discount{
    font-size:35px;
}    
#carouselExampleAutoplaying .price .actual{
    color:#606060;
    font-size: 25;
}
#carouselExampleAutoplaying .shop-now-btn button{
    background-color: red;
    color:whitesmoke;
    padding:5px;
    width:95px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    margin-top:30px;
    transition-property:transform;
}
#carouselExampleAutoplaying .shop-now-btn button:hover{
   background-color: red;
   transform:scale(1.25);
}
#carouselExampleAutoplaying .col-md-6 .image1 img{
    display:flex;
    height:480px;
    width:480px;
    margin-top: -40px;
    margin-left: 100px;
}
.carousel-control-prev,.carousel-control-next{
    display:none;
}