.product-details{
    margin-top:20px;
    padding:10px;
}
.product-images{
    display: flex;
    flex-direction: column;
    gap:30px;
    border-color: #7E7E7E;
}
.product-images img{
    height: 80px;
    width:80px;
    padding: 5px;
    border: 2px solid #606060;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
.img-main-view img{
    height: 400px;
    width:400px;
    margin-top: 0px;
    margin-left: 0px;
}
.about-prod{
    margin-top:0px;
    margin-left: 20px;
    position:relative;
}
.about-prod .desc{
    font-size: 12px;
    margin-top: 5px;
}
.about-prod .ratings{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap:5px;
    margin-top: 10px;
    /* margin-bottom:10px; */
}
.about-prod .ratings i{
    font-size: 10px;
    color:red;
} 
.about-prod .ratings p{
    font-size: 12px;
    color: #7E7E7E;
}
/* .line{
    margin-top:2px;
    margin-bottom: 2px;

} */
.price{
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: left;
    font-weight: bold;
    margin-top: 25px;
    
}
.price .discount{
    font-size:30px;
}
.price .actual{
    font-size: 20px;
    color: #606060;
}
.savings{
    color: green;
    font-size: 12px;
    margin-top:-20px;
    margin-bottom: 0px;
}
small{
    font-size: 12px;
    color: #7E7E7E;
}
.about-prod .availability{
    
    width:80px;
    padding:5px;
    background-color: green;
    font-size: 14px;
    text-align: center;
    color: white;
    position:absolute;
    right:60px;
   top:128px;
    border-radius: 3px;
    text-align: center;
    
}
h6{
    margin-top: 20px;
}
.offers-discount{
    display:flex;
    gap:10px;
    margin-bottom: 20px;
}
.offers{
    margin-top: 10px;
    font-size: 12px;
    color: #7E7E7E;
    border: 1px solid #7E7E7E;
}
.offers p{
    margin:3px;
}
.add-to-cart{
    height: 35px;
    width:110px;
    background-color: red;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
}
.product-summary{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap:70px;
    font-size:20px ;
    font-weight: bold;
}
.product-summary a{
    color:#7E7E7E;
    text-decoration: none;
}
.product-summary a:hover{
    width:max-content;
    color:white;
    border:none;
    background-color: red;
    border-radius: 5px;
   padding:2px;
    text-align: center;
}
.specific{
    margin-top: 120px;
    display: flex;
    gap:200px;
    padding: 10px;
}
.specific .list1 li{
    font-size: 12px;
    margin-bottom: 20px;
    color: #7E7E7E;
    list-style: none;
}
.specific .list2 li{
    font-size: 12px;
    margin-bottom: 20px;
    color: #7E7E7E;
    list-style: none;
    font-weight: bold;
    text-align: right;
}
.product-overview{
    margin-top: 50px;
    margin-left: 20px;
}
.product-overview p{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 25px;
}

.product-overview ul li{
    font-size: 18px;
    margin-bottom: 5px;
}
.product-overview .p1{
    font-weight: normal;
}
.review{
    margin-top: 50px;
    margin-left: 20px;
}
.review .usericon{
    display:flex;
    gap:20px;
    text-align: center;
}
.usericon .icon{
    font-size: 30px;
}
.name-ratings {
    text-align: left;
    font-size: 12px;
}
.name-ratings .rating{
    font-size: 12px;
}
.product-review{
    font-size: 12px;
}
.various-products h3{
    text-align: center;
    margin: 100px auto;
} 
