.container-fluid{
    align-items:center ;
    justify-content: space-between;
}
.logo{
    font-size:23px;
    font-weight: bolder;
    padding-left: 10px;
}
.icons{
    gap:30px;
    position: relative;
    align-items: center;
    /*margin-top:-50px;*/
}
.icons i{
    font-size: 20px;
    font-weight: bold;
    color: #B1B5C8;
    padding-right: 10px;
    cursor: pointer;
}
.tooltip{
    border:1px solid #B1B5C8;
    border-radius: 2px;
    padding-right: 2px;
    background-color: #1f1f1f;
    color:#B1B5C8;
    position: absolute;
    /* margin-right: 70px; */
    visibility: hidden;
    font-size: 10px;
    padding:1px 5px;
    text-align: center;
    transform:translateX(-50%);
    box-shadow: 0px 0px 1px 0.5px ; 
}
.search-icon:hover .tooltip,.cart-icon:hover .tooltip{
    visibility: visible;
    opacity:1;
}
.cart-icon{
    position:relative;
}
.cart-count{
    position:absolute;
    left:18px;
    top:-6px;
    background-color: red;
    color:white;
    border-radius: 50%;
    padding:5px 8px;
    font-size: 12px;
    text-align: center;
}
.searchbar{
    justify-content: center;
    position:relative;
}
.searchbar input{
    width:520px;
    height: 33px;
    background-color: #1f1f1f;
    color:#AAB0AA;
    border-color:#AAB0AA ;
}
.searchbar input:focus{
    background-color: #1f1f1f;
    color:#AAB0AA;
}

 .bi-x-lg{
    position:absolute;
    top:50px;
    right:420px;
    cursor:pointer;
    color:#AAB0AA;
}
.suggestions,.no-products{
    position:absolute;
    z-index: 10;
    background-color:#1f1f1f;
    border:1px solid #AAB0AA;
    width:520px;
    color: #AAB0AA;
    left:418px;
    top:90px;
    
}
.suggestions .list-group li{
    list-style:none;
    
}

.suggestions .list-group li a{
    text-decoration: none;
    color:#B1B5C8;
    font-size:12px;
}
.suggestions .list-group li a:hover{
    color:red;
} 
/* .message{
    position:absolute;
    right:10px;
    margin-right: 0px;
    border:1px solid #B1B5C8;
    width:max-content;
    height:max-content;
    padding:5px;
} */

.icon-tooltip{
    visibility: hidden;
    border:1px solid #B1B5C8;
    border-radius: 2px;
    width:200px;
    height:150px; 
    padding:5px;
    color:#B1B5C8;
    background-color: #1f1f1f;
    position: absolute;
    right:10px;
    font-size: 11px;
    box-shadow: 0px 0px 1px 0.5px ;
}
.icon-tooltip p{
    margin-bottom: 2px;
}
.icon-tooltip .hr-line{
    margin:8px 0px;
}  

.icon-tooltip .login-btn{
    background-color: transparent;
    color:#B1B5C8
}
.icon-tooltip .closemessage{
    position: absolute;
    right:10px;
    top:0px;
    cursor: pointer;
}
.profile-icon:hover .icon-tooltip{
    visibility: visible;
    opacity:10;
} 
.login-form{
    position:relative;
    
    border:1px solid #B1B5C8;
    width:320px;
    height:max-content;
    padding: 15px;
    backdrop-filter: blur(5px);
    
}
.login-form span{
    position: absolute;
    top:-2px;
    right:3px;
    font-size: 20px;
    cursor: pointer;
}


.btn-login-btn{
    height:31px;
    width:285px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: red;
    color:white;
    font-size: 14px;
}
.login{
    color: #AAB0AA;
    text-align: center;
    position:relative;
    font-size: 12px;
}
.login::before{
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width:70px;
    background-color: black;
    top: 50%;
    left:0px;
    

}   
.login::after{
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width:60px;
    background-color: black;
    top: 50%;
    right:0px;
}  
button{
   padding:5px;
    width:70px;
    font-size: 10px;
    margin-top: 10px;
    color: white;
}
.fb{
    background-color: #6CA0DC;
    margin-right: 10px;
}
.google{
    background-color:#D0213D;
    margin-right: 10px;
}
.twit{
    background-color:#007FFF;
}